/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
    /* colors */
    --clr-orange: 25 97% 53%;
    --clr-white: 0 0% 100%;
    --clr-light-grey: 217 12% 63%;
    --clr-medium-grey: 216 12% 54%;
    --clr-dark-blue: 213 19% 18%;
    --clr-v-dark-blue: 216 12% 8%;

    /* font-sizes */
    --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
    --fs-800: 3.5rem;
    --fs-700: 1.5rem;
    --fs-600: 1rem;
    --fs-500: 1rem;
    --fs-400: 0.9375rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;
    
    /* font-families */
    --ff-sans-serif: 'Overpass', sans-serif;

    /* font-weights */
    --fw-regular: 400;
    --fw-bold: 700;
}

@media (width >= 35em) {
    :root {
        /* font-sizes */
        --fs-800: 5rem;
        --fs-700: 2.5rem;
        --fs-600: 1.5rem;
        --fs-500: 1.25rem;
        --fs-400: 1rem;
    }
}

@media (width >= 45em) {
    :root {
        /* font-sizes */
        --fs-800: 6.25rem;
        --fs-700: 3.5rem;
        --fs-600: 2rem;
        --fs-500: 1.75rem;
        --fs-400: 1.125rem;
    }
}

/* ------------------- */
/* Reset               */
/* ------------------- */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------------- */
/*      Utility classes      */
/* ------------------------- */

.flow > *:where(:not(:first-child)) {
    margin-top: var(--flow-space, 1rem);
}

/* typography */

.uppercase { text-transform: uppercase; }

.letter-spacing-1 { letter-spacing: 4.75px; } 
.letter-spacing-2 { letter-spacing: 2.7px; } 
.letter-spacing-3 { letter-spacing: 2.35px; } 

.fs-900 { font-size: var(--fs-900); }
.fs-800 { font-size: var(--fs-800); }
.fs-700 { font-size: var(--fs-700); }
.fs-600 { font-size: var(--fs-600); }
.fs-500 { font-size: var(--fs-500); }
.fs-400 { font-size: var(--fs-400); }
.fs-300 { font-size: var(--fs-300); }
.fs-200 { font-size: var(--fs-200); }

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
    line-height: 1.1;
}

.fw-regular { font-weight: var(--fw-regular); }
.fw-bold { font-weight: var(--fw-bold); }

/* --------------- */

html {
    font-family: var(--ff-sans-serif);
}

.wrapper {
    --max-card-width: min(100% - 2rem, 25rem);

    display: grid;
    place-items: center;

    color: hsl( var(--clr-light-grey) );
    background-color: hsl( var(--clr-v-dark-blue) );
}

.rating {
    --_button-timing: cubic-bezier(.85,.16,.27,.85);
    --_button-duration: 300ms;
    --_button-animation-properties: color, background-color;

    --flow-space: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 2rem;
    max-width: var(--max-card-width);
    border-radius: 20px;
    background-color: hsl( var(--clr-dark-blue) );

    &__image {
        padding: 1rem;
        border-radius: 100%;
        background-color: hsl( var(--clr-medium-grey) / 0.05);
    }

    &__heading {
        color: hsl( var(--clr-white) );
    }

    &__content {
        --flow-space: 1rem;
    }

    &__options {
        --flow-space: 2.5rem;
        align-self: stretch;
        margin-bottom: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;

        & > * {
            display: grid;
            place-items: center;
            width: 3rem;
            aspect-ratio: 1;
            border: 0;
            border-radius: 100%;
            color: currentColor;
            background-color: hsl( var(--clr-medium-grey) / 0.15);

            cursor: pointer;
            transition-property: var(--_button-animation-properties);
            transition-duration: var(--_button-duration);
            transition-timing-function: var(--_button-timing);
        }

        & > *:focus,
        & > *:is(:hover) {
            color: hsl( var(--clr-white) );
            background-color: hsl( var(--clr-light-grey));
        }

        & > *[data-chosen="true"] {
            color: hsl( var(--clr-white) );
            background-color: hsl( var(--clr-orange));
        }
    }

    &__button {
        --flow-space: 2rem;
        align-self: stretch;
        padding-block: 1.15rem 1rem;
        border: 0;
        border-radius: 50px;
        color: hsl( var(--clr-white) );
        background-color: hsl( var(--clr-orange));

        cursor: pointer;
        transition-property: var(--_button-animation-properties);
        transition-duration: var(--_button-duration);
        transition-timing-function: var(--_button-timing);

        &:hover {
            color: hsl( var(--clr-orange) );
            background-color: hsl( var(--clr-white));
        }
    }
}

.appreciation {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    max-width: var(--max-card-width);
    border-radius: 20px;
    background-color: hsl( var(--clr-dark-blue) );

    &__subheading {
        --flow-space: 1.5rem;
        padding-block: 0.6rem;
        padding-inline: 0.8rem;
        border-radius: 50px;

        color: hsl( var(--clr-orange) );
        background-color: hsl( var(--clr-medium-grey) / 0.1);
    }

    &__heading {
        --flow-space: 2rem;
        color: hsl( var(--clr-white) );
    }

    &__content {
        text-align: center;
    }
}